@import '../../styles/vars.scss';

.layout {
  &__content:not(c) {
    min-height: 95vh;
  }
}

.header {
  background-color: $primary-blue;
  color: $white;
}

.sider {
  background-color: $primary-blue;
  color: $white;
}