@import '../../styles/vars.scss';

.interviewList {
  padding: 5rem;

  &__paragraph {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: justify;
  }

  &__inner {
    padding: 2rem;
    background-color: $white;
    box-shadow: 0 0 5px $gray;
    border-radius: 2px;
  }
}
