@import '../../styles/vars.scss';

.interviewList {
  padding: 5rem;

  &__paragraph {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: justify;

    :global {
      br {
        margin-bottom: 0.5rem;
      }
    }
  }

  &__inner {
    padding: 2rem;
    background-color: $white;
    box-shadow: 0 0 5px $gray;
    border-radius: 2px;
  }

  &__nextPrevRow {
    padding-top: 2rem;
  }

  &__imageDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    :global {
      img {
        max-height: 450px;        
      }
    }
  }
}

.interview {
  padding: 5rem;
}